.experience-page {
	margin-left: 6rem;
}

.content {
	display: flex;
	gap: 1rem;
	margin-right: 1rem;
}

.content > * {
	flex: 1;
}

.experience-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.projects-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.projects {
	width: 45%;
}