.experience-page {
	margin-left: 3rem;
}

.content {
	display: flex;
	gap: 3rem;
	margin-right: 3rem;
	margin-bottom: 3rem;
}

.content > * {
	flex: 1;
}

.experience-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.projects-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

@media screen and (max-width: 1100px) and (min-width: 800px) {
	.experience-page h1 {
		font-size: 28px;
	}
}

@media screen and (max-width: 800px) {
	.experience-page {
		margin-left: 3rem;
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-right: 3rem;
		margin-bottom: 3rem;
	}
}