.experience-page {
	margin-left: 3rem;
}

.content {
	display: flex;
	gap: 3rem;
	margin-right: 3rem;
	margin-bottom: 3rem;
}

.content > * {
	flex: 1;
}

.experience-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.projects-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.projects {
	width: 45%;
}