.project-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	font-size: 20px;
	width: 100%;
}

.project-title-right {
	display: flex;
	align-items: center;
	gap: 25px;
}

.project-name {
	margin-bottom: 0px;
	margin-top: 0px;
}

.date {
	font-weight: 345;
}

.project-details {
	font-size: 18px;
	margin-left: 1rem;
}

.programming-languages {
	margin-bottom: 10px;
}

.detail {
	line-height: 1.5;
	margin-top: 10px;
}

.bowdoin-logo {
	width: 25px;
	height: 25px;
}

.project-link {
	height: fit-content;
}

.project-details ul {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 30px;
}