.experience-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.experience-name {
	margin-bottom: 5px;
	margin-top: 5px;
}

.company-link {
	border-radius: 30px;
	padding: 6px 12px;
	border: 1.5px solid var(--primary-text);
}

.company-link:hover {
	border: 1.5px solid var(--primary-text-hover);
}

.company-title {
	font-weight: 400;
	font-size: 18px;
	line-height: 1;
	white-space: nowrap;
}

.experience-title .date {
	font-weight: 250;
	min-width: 115px;
	text-align: right;
	line-height: 1;
}

.experience-details {
	font-size: 18px;
	margin-left: 1rem;
}

.programming-languages {
	margin-bottom: 10px;
}

.detail {
	line-height: 1.5;
}

.bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.position {
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 22px;
	font-weight: 600;
}

.right-title {
	display: flex;
	gap: 15px;
	align-items: center;
}

.experience-details ul {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 30px;
}

@media screen and (max-width: 1100px) {

	.position {
		font-size: 20px;
		margin-left: 5px;
	}

	.right-title {
		font-size: 16px;
		gap: 10px;
	}

	.experience-title .date {
		min-width: unset;
	}

	.experience-details {
		font-size: 16px;
	}

	.detail {
		margin-top: 5px;
	}
}

@media screen and (max-width: 800px) {

	.position {
		font-size: 22px;
	}

	.company-link {
		padding: 3px 8px;
	}

	.experience-details {
		font-size: 17px;
	}

	.detail {
		margin-top: 5px;
	}

}