.experience-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 20px;
	width: 100%;
}

.experience-name {
	margin-bottom: 5px;
	margin-top: 5px;
}

.company-title {
	font-weight: 345;
}

.date {
	font-weight: 345;
	min-width: 125px;
	text-align: right;
}

.experience-details {
	font-size: 18px;
	margin-left: 1rem;
}

.programming-languages {
	margin-bottom: 10px;
}

.detail {
	line-height: 1.5;
}

.left-title {
	display: flex;
	flex-direction: column;
}

.bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.position {
	margin-bottom: 0px;
	margin-top: 0px;
}

.right-title {
	display: flex;
	gap: 25px;
	align-items: center;
}

.experience-details ul {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 30px;
}