.resume-block {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 2rem;
}

.resume-embed {
	width: 60vw;
	height: 100vh;
	margin-inline: auto;
	border: 0;
}

.download {
	display: flex;
	align-items: center;
	justify-content: right;
	margin-bottom: 20px;
	gap: 5px;
	height: 35px;
}

.here-link {
	border: 2px solid var(--primary-text);
	border-radius: 20px;
	padding: 10px 15px;
	font-weight: 600;
	transition: ease-in-out 0.3s;
}

.here-link:hover {
	color: var(--background-color);
	background-color: var(--primary-text);
}

@media screen and (max-width: 1000px) {
	.resume-embed {
		width: 90vw;
	}
}

@media screen and (max-width: 600px) {
	.resume-embed {
		height: 55vh;
	}
}