.resume-block {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.resume-embed {
	width: 60vw;
	height: 100vh;
	margin-inline: auto;
	border: none;
}

.download {
	display: flex;
	align-items: center;
	justify-content: right;
	margin-bottom: 20px;
	gap: 5px;
	height: 35px;
}

.here-link {
	border: 2px solid var(--primary-text);
	border-radius: 20px;
	padding: 5px 10px;
	font-weight: 600;
}

.here-link:hover {
	color: var(--background-color);
	background-color: var(--primary-text);
	/* border: 2px solid var(); */
}