.home-page-block {
	padding: 1rem 2rem;
	margin: 1rem;
	background-color: var(--homepage-block-background);
	border-radius: 15px;
	border: 2px solid var(--background-color);
	color: var(--quicklinks-text-color);
	max-width: 350px;
}

.home-page-block:hover {
	border: 2px solid var(--quicklinks-text-color);
	transition: ease-in-out 0.3s;
	color: var(--quicklinks-text-color);
}

.block-image-div {
	height: 150px;
}

.image {
	width: 225px;
	height: auto;
	/* object-fit: cover; */
}

.block-title {
	font-size: 25px;
}

.block-position {
	font-size: 16px;
}

@media screen and (max-width: 800px) {
	.home-page-block {
		max-width: 250px;
		padding: 0.5rem 1.5rem;
		padding-bottom: 1rem;
	}

	.block-image-div {
		height: 125px;
	}

	.image {
		max-width: 200px;
	}

	.block-title {
		font-size: 18px;
	}

	.block-position {
		font-size: 20px;
	}

	.block-description {
		font-size: 14px;
	}
}

@media screen and (max-width: 650px) {
	.home-page-block {
		max-width: 150px;
		margin-inline: 0.25rem;
		padding-inline: 1rem;
		padding-top: 0rem;
	}

	.block-image-div {
		height: 100px;
	}

	.image {
		max-width: 125px;
	}

	.block-title {
		font-size: 14px;
	}

	.block-position {
		font-size: 16px;
	}

	.block-description {
		font-size: 12px;
	}
}