.all-homepage {
	margin-inline: 5rem;
	margin-top: 3rem;
	margin-bottom: 2rem;
}

.mobile-top-section,
.nontyped-title {
	display: none;
}

.desktop-top-section {
	display: flex;
	gap: 6rem;
}

.desktop-top-section .homepage-top {
	max-width: 60%;
}

.homePageText {
	line-height: 1.75;
	margin-bottom: 40px;
	margin-top: 1rem;
}

.zane-image {
	max-height: 350px;
	width: fit-content;
}

.quicklinks {
	display: flex;
	gap: 15px;
	align-items: center;
}

.quicklinks > a {
	padding: 10px 15px;
	border: 1.5px solid var(--primary-text);
	border-radius: 30px;
	font-weight: 600;
	text-align: center;
}

.quicklinks > a:hover {
	background-color: var(--primary-text);
	color: black;
}

.quicklink-title {
	font-weight: 600;
	font-size: 1.25rem;
	margin-bottom: 10px;
	padding-bottom: 2px;
	width: fit-content;
}

/* BCR Section */

.bcr-homepage {
	display: flex;
	gap: 3rem;
	margin-top: 3rem;
	align-items: center;
}

.bcr-aboutme-text {
	width: 40%;
}

.bcr-screenshot-div {
	width: 60%;
}

.bcr-screenshot {
	width: 100%;
}

/* BCR Timeline Section */
.bcr-timeline-div {
	display: flex;
	gap: 1rem;
	justify-content: space-around;
	margin-top: 2rem;
}

.bcr-timeline-left {
	width: 35%;
}

.bcr-timeline {
	position: relative;
    list-style-type: none;
	padding: 0px;
}

.bcr-timeline-images {
	margin-top: 4rem;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 1rem;
}

.bcr-mobile-homepage-image,
.bcr-mobile-stats-image,
.bcr-mobile-profile-image {
	max-width: 30%;
	border-radius: 15px;
}

.bcr-timeline-item {
	position: relative;
	padding: 0 0 15px 20px;
	border-left: 5px solid var(--primary-text);
}

/* Bullet points */
.bcr-timeline-item::before {
	content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: -1px;
    left: -10px;
    background-color: var(--primary-text);
    border-radius: 50%;
}

.bcr-timeline-item:last-child {
	border-left: 5px solid var(--background-color);
}

.bcr-timeline-title {
	margin-block: 0px 10px;
	line-height: 1rem;
}

.bcr-timeline-text {
	line-height: 1.5;
	margin-block: 10px;
}

@media screen and (max-width: 1200px) {
	.nontyped-title {
		display: block;
	}

	.typed-title {
		display: none;
	}

	.bcr-homepage {
		gap: 1rem;
	}

	.bcr-aboutme-text {
		width: 60%;
	}

	.bcr-screenshot-div {
		width: 40%;
	}

	.working-on-now-title {
		text-align: left;
	}

	.bcr-timeline-left {
		width: 40%;
	}

	.bcr-timeline-images {
		width: 60%;
	}
}

@media screen and (max-width: 1100px) {
	.all-homepage {
		margin-inline: 3rem;
	}

	.desktop-top-section {
		gap: 4rem;
	}

	.quicklinks {
		width: 100%;
		margin-right: 2rem;
		font-size: 18px;
		flex-wrap: wrap;
		gap: 10px;
	}

	.quicklinks a {
		white-space: nowrap;
		padding: 5px 10px;
	}

	.zane-image {
		margin-left: 10px;
		max-height: 300px;
		margin-bottom: 1.5px;
	}

	.quicklink-title {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 950px) {
	
	.all-homepage {
		margin-inline: 2rem;
	}
	
	.title {
		font-size: 30px;
	}

	.homePageText {
		font-size: 1.1rem;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.zane-image {
		max-height: 300px;
	}

	.bcr-homepage {
		flex-direction: column;
	}

	.bcr-aboutme-text {
		width: 100%;
	}

	.bcr-screenshot-div {
		width: 70%;
	}
}

@media screen and (max-width: 800px) {

	.all-homepage .mobile-top-section {
		display: flex;
		flex-direction: column;
		margin-left: 1rem;
		margin-bottom: 2rem;
	}

	.all-homepage .mobile-top {
		display: flex;
		gap: 20px;
		align-items: center;
		justify-content: space-around;
		margin-top: 20px;
	}

	.all-homepage .desktop-top-section {
		display: none;
	}

	.all-homepage {
		margin-inline: 1.5rem;
		margin-top: 2rem;
	}

	.mobile-titles {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.mobile-titles .title {
		margin-block: 10px;
	}

	.desktop-top-section {
		flex-direction: column;
	}

	.homePageText {
		width: auto;
		margin-right: 1rem;
		margin-bottom: 1rem;
	}

	.zane-image {
		max-width: 150px;
		margin: 0;
		margin-right: 1rem;
		margin-bottom: 1.25rem;
	}

	.bcr-timeline-div {
		flex-direction: column-reverse;
		margin-top: 0px;
	}

	.bcr-timeline-images,
	.bcr-timeline-left {
		width: 100%;
		margin-top: 0px;
	}

	.bcr-screenshot-div {
		width: 100%;
	}

	.homepage-title {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 600px) {
	.all-homepage .mobile-top {
		justify-content: space-between;
	}

	.mobile-titles .title {
		font-size: 1.5rem;
	}

	.all-homepage {
		margin-inline: 0.75rem;
	}
}