:root {
  --primary-text: #a8c2e3;
  --primary-text-hover: #cbddf2;
  --background-color: #212f4f;
}

body {
  background-color: var(--background-color);
  font-family: 'Satoshi', sans-serif;
  color: var(--primary-text);
}

p {
  margin: 1px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--primary-text);
}

a:hover {
  color: var(--primary-text-hover);
}

.title {
  font-size: 2.5rem;
}

.small-text {
  font-size: 1.15rem;
  line-height: 1.5;
}

img {
  border: 2px solid var(--primary-text);
	border-radius: 30px;
}

span {
  font-weight: bold;
}

.MuiAcordion-root {
  background-color: var(--background-color) !important;
  color: var(--primary-text) !important;
}

.MuiAccordionSummary-root {
  background-color: var(--background-color) !important;
  color: var(--primary-text) !important;
}

.MuiAccordionDetails-root {
  background-color: var(--background-color) !important;
  color: var(--primary-text) !important;
}

.MuiSvgIcon-root {
  color: var(--primary-text) !important;
}