:root {
  --primary-text: #b9d0ed;
  --primary-text-hover: #d4e3f5;
  --background-color: #212f4f;
  --expanded-background: rgb(50, 65, 99);
}

body {
  background-color: var(--background-color);
  font-family: 'Satoshi', sans-serif;
  color: var(--primary-text);
}

p {
  margin: 1px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--primary-text);
}

a:hover {
  color: var(--primary-text-hover);
}

.header {
  font-size: 2rem;
  margin-block: 1rem;
}

.small-text {
  font-size: 1.05rem;
  line-height: 1.5;
}

img {
	border-radius: 15px;
}

span {
  font-weight: 600;
}

.MuiAcordion-root,
.MuiAccordionSummary-root,
.MuiAccordionDetails-root,
.MuiSvgIcon-root {
  color: var(--primary-text) !important;
}