:root {
  --primary-text: rgb(193, 219, 255);
  --primary-text-faint: rgb(193, 219, 255, 0.8);
  --primary-text-hover: #dce7f3;
  --background-color: #111e3b;
  /* --expanded-background: #29344e; */
  --expanded-background: rgba(193, 219, 255, 0.152);
  --expanded-background-text: #e6f1ff;
  --expanded-background-text-hover: rgb(193, 219, 255, 0.8);

  --light-section-background: rgb(193, 219, 255);
  --light-section-text: #111e3b;
  
  --royal-blue: rgb(0, 89, 214);
  --quicklinks-text-color: rgb(193, 219, 255);
  --tag-background: rgba(193, 219, 255, 0.152);

  --desktop-homepage-padding: 6rem;
  --mid-homepage-padding: 4rem;
  --mobile-homepage-padding: 2rem;

  --highlight-block-background: #6680a35c;
}

body {
  background-color: var(--background-color);
  font-family: 'Inter', 'Satoshi', sans-serif;
  color: var(--primary-text);
}

p {
  margin: 1px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--primary-text);
}

a:hover {
  color: var(--primary-text-hover);
}

.header {
  font-size: 2.75rem;
  margin-block: 1rem;
}

.small-text {
  font-size: 1.05rem;
  line-height: 1.5;
  max-width: 80%;
}

img {
	border-radius: 10px;
}

span {
  font-weight: 600;
}

.MuiAcordion-root,
.MuiAccordionSummary-root,
.MuiAccordionDetails-root,
.MuiSvgIcon-root,
.list-with-background a {
  color: var(--expanded-background-text) !important;
}

.list-with-background a:hover {
  color: white !important;
}