.navbar {
	height: 6rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.all .mobile {
	display: none;
}

.navbar-content {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.name {
	font-weight: 600;
	font-size: 1.25rem;
	text-decoration: none;
	margin-left: 4rem;
	display: flex;
	align-items: center;
	height: fit-content;
	color: var(--primary-text)
}

.name:hover {
	color: var(--primary-text-hover);
}

.navbar-link {
	padding: 10px 15px;
	padding-bottom: 7px;
	border-radius: 40px;
	margin-right: 65px;
	font-size: 1rem;
	font-weight: 350;
	color: var(--primary-text)
}

.link-text {
	line-height: 1;
	padding-bottom: 3px;
	font-size: 1.2rem;
	font-weight: 500;
	color: var(--primary-text)
}

.navbar-link .link-text:hover {
	color: var(--primary-text-hover);
}

.on-page .link-text,
.on-home-page {
	color: var(--primary-text-hover);
}

.contactInfo > * {
	font-size: 12px;
	margin: 3px;
	color: var(--primary-text)
}

.contactInfo a {
	color: var(--primary-text)
}

.icons {
	display: flex;
	gap: 10px;
}

.icons > *:hover {
	background-color: var(--background-color);
}

.navbar-logo {
	vertical-align: top;
	font-size: 22px;
	border: 2px solid var(--background-color);
}

.navbar-logo:hover {
	color: var(--background-color);
	background-color: var(--primary-text);
	border: 2px solid var(--primary-text);
}

.github {
	border-radius: 22px;
}

.linkedin {
	border-radius: 5px;
}

@media screen and (max-width: 1200px) {
	.name {
		margin-left: 3rem;
	}

	.navbar-link {
		font-size: 22px;
		margin-right: 50px;
		white-space: nowrap;
	}
}

@media screen and (max-width: 1100px) {
	.navbar-link {
		font-size: 20px;
		margin-right: 40px;
	}
}

@media screen and (max-width: 900px) {
	.navbar-link {
		margin-right: 10px;
	}
}

@media screen and (max-width: 800px) {
	.all .mobile {
		display: block;
	}

	.navbar .top {
		display: flex;
		justify-content: space-between;
		margin-top: 0.75rem;
		flex-direction: column;
	}

	.name {
		margin-left: 0px;
	}

	.contactInfo {
		display: flex;
		justify-content: space-between;
		margin-block: 5px;
	}

	.contactInfo > * {
		font-size: 12px;
		text-align: right;
	}

	.icons {
		justify-content: flex-end;
		gap: 3px;
	}

	.navbar-logo {
		font-size: 16px;
	}

	.all .non-mobile {
		display: none;
	}

	.navbar {
		margin-inline: 2rem;
		flex-direction: column;
		margin-block: 0.5rem;
		padding-bottom: 1rem;
		height: 3rem;
		align-items: unset;
	}

	.navbar-content {
		gap: 30px;
		position: relative;
		top: -25px;
	}

	.navbar-link {
		padding: 0 0;
	}
}

@media screen and (max-width: 600px) {
	.navbar {
		margin-inline: 1rem;
		height: 5rem;
	}

	.navbar-content {
		gap: unset;
		justify-content: space-between;
		top: 10px;
	}
}