.navbar {
	height: 7rem;
	display: flex;
	justify-content: space-between;
}

.all .mobile {
	display: none;
}

.navbar-content {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.name {
	font-weight: 500;
	font-size: 1.75rem;
	text-decoration: none;
	margin-left: 4rem;
	display: flex;
	align-items: center;
	font-weight: 700;
}

.name:hover {
	/* background-color: var(--background-color);
	color: white; */
	color: var(--primary-text-hover);
}

.navbar-link {
	padding: 10px 15px;
	padding-bottom: 7px;
	border-radius: 40px;
	margin-right: 65px;
	font-size: 1.5rem;
	font-weight: 350;
}

.link-text {
	line-height: 1;
	padding-bottom: 3px;
}

.on-page .link-text {
	font-weight: 600;
}

.contactInfo > * {
	font-size: 15px;
	margin: 3px;
}

.icons {
	display: flex;
	gap: 10px;
}

.icons > *:hover {
	background-color: var(--background-color);
}

.navbar-logo {
	vertical-align: top;
	font-size: 22px;
	border: 2px solid var(--background-color);
}

.navbar-logo:hover {
	color: var(--background-color);
	background-color: var(--primary-text);
	border: 2px solid var(--primary-text);
}

.github {
	border-radius: 22px;
}

.linkedin {
	border-radius: 5px;
}

@media screen and (max-width: 1200px) {
	.name {
		font-size: 28px;
		margin-left: 3rem;
	}

	.navbar-link {
		font-size: 22px;
		margin-right: 50px;
		white-space: nowrap;
	}
}

@media screen and (max-width: 1100px) {
	.name {
		font-size: 24px;
	}

	.navbar-link {
		font-size: 20px;
		margin-right: 40px;
	}
}

@media screen and (max-width: 900px) {
	.navbar-link {
		margin-right: 10px;
	}
}

@media screen and (max-width: 800px) {
	.all .mobile {
		display: block;
	}

	.navbar .top {
		display: flex;
		justify-content: space-between;
	}

	.name {
		margin-left: 0px;
		font-size: 22px;
	}

	.contactInfo > * {
		font-size: 12px;
		text-align: right;
	}

	.icons {
		justify-content: flex-end;
	}

	.navbar-logo {
		font-size: 16px;
	}

	.all .non-mobile {
		display: none;
	}

	.navbar {
		margin-inline: 2rem;
		flex-direction: column;
		margin-top: 1rem;
		margin-bottom: 0.5rem;
		padding-bottom: 1rem;
		height: auto;
		border-bottom: 1px solid var(--primary-text);
	}

	.navbar-content {
		gap: 75px;
		margin-inline: auto;
	}

	.navbar-link {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;
		padding-bottom: 2px;
	}
}

@media screen and (max-width: 600px) {
	.navbar {
		margin-inline: 1rem;
	}

	.navbar-content {
		gap: unset;
		justify-content: space-between;
	}
}