.about-me {
	margin-left: 6rem;
	margin-right: 1rem;
}

.mobile-title {
	display: none;
}

.bio-and-image {
	display: flex;
	margin-right: 20px;
	margin-bottom: 2rem;
}

.bio {
	margin-right: 20px;
	max-width: 75ch;
}

.about-me-text {
	margin-bottom: 10px;
}

.zane-second-image {
	margin-inline: auto;
	max-height: 425px;
}

.accordions {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.accordions > * {
	padding-block: 7px !important;
}

.about-me ul {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 30px;
}

.about-me li {
	margin-bottom: 10px;
}

.about-me a {
	padding: 5px 5px;
	border-radius: 40px;
}

.section-title {
	margin-bottom: 5px;
	font-weight: 400;
	font-size: 18px;
}

.multiple-lists {
	margin-left: 10px;
}

.list-section {
	margin-bottom: 10px;
}

.more-text {
	max-width: 900px;
}

.more-text-paragraph {
	margin-bottom: 30px;
}

.more-text-paragraph span {
	font-style: italic;
}

.bottom-columns {
	display: flex;
	margin-bottom: 30px;
	gap: 10px;
}

.column {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.technicalskill-line {
	margin-top: 0px;
}

.about-me .icons > * {
	font-size: 22px;
}

.no-link {
	padding-left: 5px;
}

@media screen and (max-width: 1050px) {
	.zane-second-image {
		margin-left: 0px;
		max-height: 400px;
		margin-bottom: 27px;
	}

	.about-me {
		margin-inline: 2rem;
		margin-top: 2rem;
	}
}

@media screen and (max-width: 800px) {

	.desktop-title {
		display: none;
	}

	.mobile-title {
		display: block;
	}

	.bio-and-image {
		flex-direction: column-reverse;
		margin-bottom: 1rem;
	}

	.zane-second-image {
		max-height: 200px;
		margin-block: 1rem;
	}

	.bio {
		max-width: unset;
		width: 80%;
	}

	.more-text .small-text {
		width: 80%;
	}

	.top-line .title {
		margin-top: 15px;
		font-size: 34px;
	}

	.bio-and-image h1 {
		font-size: 28px;
	}

	.bottom-columns h1 {
		font-size: 28px;
	}
}

@media screen and (max-width: 1000px) {
	.bio {
		width: 100%;
	}
}

@media screen and (max-width: 800px) {
	.about-me {
		margin-left: 2rem;
	}

	.bottom-columns {
		flex-direction: column;
		gap: 0px;
	}
}

@media screen and (max-width: 600px) {
	.about-me {
		margin-inline: 1rem;
	}

	.about-me p {
		font-size: 17px;
	}

	.about-me .MuiAccordionSummary-content {
		font-size: 18px;
	}

	.bio-and-image h1 {
		font-size: 26px;
	}

	.bottom-columns h1 {
		font-size: 26px;
	}
}

@media screen and (max-width: 500px) {
	.about-me p {
		font-size: 16px;
	}

	.about-me .MuiAccordionSummary-content {
		font-size: 17px;
	}

	.top-line .title {
		font-size: 30px;
	}

	.bio-and-image h1 {
		font-size: 24px;
	}

	.bottom-columns h1 {
		font-size: 24px;
	}
}